.App {
  text-align: center;
}
.topBar{
  background-color: #141E27;
  padding: 10px;
  text-align: center;
}
.topBtn{
  background-color: #141E27;
  padding: 10px;
  text-align: center;
  color: #fff;
  border: #141E27;
  width: 50px;
  border-radius: 5px;
}
.topBtn:hover{
  background-color: #203239;
  padding: 10px;
  text-align: center;
  color: #fff;
  border: #203239;
}
